header {
    background-color: #1DA1F2;
    padding: 1.5%;
    display: flex;
    justify-content: space-between;
  }

  .header-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
  }

  header img {
    width: 5%;
    margin-right: 20px;
  }

  header form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
  }

  header form input[type="text"] {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 10px;
    width: 70%;
  }

  header form button[type="submit"] {
    background-color: orange;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
  }

  header .nav {
    display: flex;
  }

  header .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  header .nav ul li {
    margin-left: 35%;
  }

  header .nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 100%;
  }